/* max-width 992px */
@media all and (max-width: 1200px) {
	.main-sidebar {
		transform: translateX(-100%);
	}
	.header {
		padding-left: 0;
	}
	.main-content {
		margin-left: 0;
	}
	.top-header {
		width: 100%;
	}
}

@media all and (max-width: 992px) {
	html {
		font-size: 54.5% !important;
	}

	.contact-wrap {
		grid-template-columns: repeat(1, 1fr);
	}

	.create-contract .create__box--4 .create__form {
		flex-direction: column;
	}
	.create-contract .create__form .row {
		gap: 2rem 0;
	}
}
@media all and (max-width: 700px) {
	.right-content {
		/* display: none; */
	}

	.top-header {
		padding: 14px 20px;
	}

	.header .popup {
		right: 1rem !important;
	}
}

/*max-width 580px*/
@media all and (max-width: 580px) {
	#scrollup {
		bottom: 20px;
		right: 20px;
	}

	.dashboard .meet .col-5 {
		display: none;
	}

	html {
		font-size: 48.5% !important;
	}

	.box-header {
		flex-direction: column;
		gap: 1.4rem 0;
	}

	.header-info,
	.icon-chevron {
		display: none;
	}

	.right-content li {
		padding: 0 8px !important;
	}
	.right-content .icon {
		height: 28px !important;
		width: 28px !important;
	}

	.openSidebar i {
		font-size: 2rem;
	}
}

/*max-width 420px*/
@media all and (max-width: 420px) {
	html {
		font-size: 44.5% !important;
	}
}

/*max-width 320px*/
@media (max-width: 320px) {
}
